body {
    background: #232323;
    margin: 0;
    font-family: "Arial";


}

h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
    line-height: 1.1;
    color: white;
    font-size: 1rem;
    text-align: center;
    background: steelblue;
    font-weight: normal;
    text-transform: uppercase;

}

#target {
    font-size: 100%;
}

.square {
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
    transition: all 700ms;
    border-radius: 25%;


}


button:hover {
    background: steelblue;
    color: white;
    transition: all 300ms;

}

.hide {
    display: none;
    transition: all 600ms;
}


button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

#easy {
    margin-left: 3%;
}

#controller {
    margin-right: 3%;
}

#stripe > span {
    font-weight: 800;
    font-size: 0.56rem;
    display: inline-block;
    width: 10%;
    color: steelblue;
    text-transform: uppercase;



}

#easy {
    margin-left: 4%;
}

#stripe {
    color: black;
    background: white;
    height: 10%;
    text-align: center;
    transition: all 700ms;
    margin-bottom: 3.5%;
}

.selected {
    background: steelblue;
    color: white;

}

#container {
    /*  margin 0 auto is to center things*/
    margin: 0 auto;
    max-width: 35%;

}